.boxInfo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}
.boxInfo li {
  padding: 24px;
  background: var(--light);
  color: var(--dark);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
}
.boxInfo li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-blue);
}
.boxInfo li:nth-child(1) svg {
  color: var(--blue);
}
.boxInfo li:nth-child(2) .bx {
  background: var(--light-yellow);
}
.boxInfo li:nth-child(2) svg {
  color: var(--yellow);
}
.boxInfo li:nth-child(3) .bx {
  background: var(--light-orange);
}
.boxInfo li:nth-child(3) svg {
  color: var(--orange);
}
.boxInfo li .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}
.boxInfo li .text p {
  color: var(--dark);
}
