.tableData {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}

.tableData > div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}
.head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}
.head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}

.order {
  flex-grow: 1;
  flex-basis: 500px;
}

.order table {
  width: 100%;
  border-collapse: collapse;
}
.order table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}
.order table td {
  padding: 16px 0;
}
.order table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}
.order table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
.order table tbody tr:hover {
  background: var(--grey);
}
.status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}
.completed {
  background: var(--blue);
}
.process {
  background: var(--yellow);
}
.pending {
  background: var(--orange);
}

.content main .table-data .todo {
  flex-grow: 1;
  flex-basis: 300px;
}
.content main .table-data .todo .todo-list {
  width: 100%;
}
.todo .todoList li {
  width: 100%;
  margin-bottom: 16px;
  background: var(--grey);
  border-radius: 10px;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo {
  flex-grow: 1;
  flex-basis: 300px;
}
.todoList li .bx {
  cursor: pointer;
}
.todoCompleted {
  border-left: 10px solid var(--blue);
}
.notCompleted {
  border-left: 10px solid var(--orange);
}
li:last-child {
  margin-bottom: 0 !important;
}
