.service-block {
  padding: 20px;
  margin-top: 40px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 38px rgb(21 40 82 / 7%);
}
.service-block img {
  width: 100%;
  margin-top: -60px;
  border: 5px solid #fff;
}
